<header>
    <img src="dener.jpg"
         alt="Matheus Oliveira - Foto de Perfil"
         width="130px"
         height="130px"
         loading="eager"
    />
    <h1>Matheus Oliveira</h1>
</header>
<aside>
    <div class="container">
        <p>Javascript | Angular | C# | C</p>
        <p>Alfredo Vasconcelos, Minas Gerais, Brasil</p>
        <p>
            Estágiando na area de desenvolvimento de software
        </p>
        <nav>
            <ul>
                <li>
                    <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
                        Dawnload Cv
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/matheus-oliveira-043277242/" 
                        target="_blank"
                        class="btn btn-secondary"
                    >
                        LinkedIn
                    </a>
                </li>
            </ul>
        </nav>

        <section>
            <figure>
                <img src="assets/icons/whatsapp.svg"
                 alt="Icone para contato do Whatsapp"
                 width="22px"
                 height="24px"/>
                 <figcaption>
                    <a href="https://api.whatsapp.com/send?phone=5532998078579&text=Ol%C3%A1%20Matheus,%20preciso%20de%20um%20job!"
                    target="_blank">
                    <strong>Envie uma menssagem para:</strong>
                    <p>Whatsapp: (32) 9 9807-8579</p>
                    </a>
                 </figcaption>
            </figure>
            <figure>
                <img src="assets/icons/mail.svg"
                 alt="Icone para contato do Email"
                 width="22px"
                 height="24px"/>
                 <figcaption>
                    <a href="mailto:marheuseric@gmail.com"
                    target="_blank">
                    <strong>Envie uma e-mail para:</strong>
                    <p>marheuseric&#64;gmail.com</p>
                    </a>
                 </figcaption>
            </figure>
        </section>
    </div>
</aside>